@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'Montserrat',sans-serif;
    src:local('Montserrat') url('../public/fonts/Montserrat.ttf') format("truetype");
}

@font-face {
    font-family: 'OpenSans', sans-serif;
    src:local('Open Sans') url('../public/fonts/OpenSans.ttf') format("truetype");
}



.sans-text{
    font-family: "Open Sans";
}

.mont-text{
    font-family: "Montserrat";
}